<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">>Nome:{{cursos[0].nome}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">>Nome:{{cursos[1].nome}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">>Nome:{{cursos[2].nome}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">>Nome:{{cursos[3].nome}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">>Nome:{{cursos[4].nome}}</h5>
    </div>
  </div>
</div>
